# VScode
.vscode/

# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env
.env.test